body {
	background-color: black;
	overflow-x: hidden;
}

p {
	color: darkgoldenrod;
	font-family: 'Inconsolata', monospace;
}

#main {
	display: flex;
	gap: 10px;
}

@media screen and (orientation:portrait){
	p {
		font-size: 11px;
	}

	#textwindow p {
		padding: 10px;
	}

	#userreports p {
		padding: 10px;
		position: relative;
	}
}

#textwindow {
	height: 96vh;
	width: 50vw;
	border: 2px solid darkgoldenrod;
	overflow: auto;
}

#textwindow p {
	padding: 10px;
}

#window {
	height: 96vh;
	width: 50vw;
}

#userreports {
	height: 48vh;
	width: 50vw;
	border: 2px solid darkgoldenrod;
	overflow: auto;
}

#userreports p {
	padding: 10px;
	position: relative;
}

#iconsdisplay {
	height: 48vh;
	width: 50vw;
	
}

#iconsdisplay p {
	vertical-align: middle;
	text-align: center;
}

::-webkit-scrollbar {
	width: 0px;
}

::-webkit-scrollbar-track {
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	border-radius: 20px;
  	border: 4px solid transparent;
  	background-color: darkgoldenrod;
  	background-clip: content-box;
}